<ion-header>
    <ion-toolbar>
      <ion-title>
        Inscrivez-vous
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <ion-img style='width:350; height:90' src="/assets/nopale.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>NOPALE</ion-card-title>
          <ion-card-subtitle>Le paiement num&eacute;rique sur le campus</ion-card-subtitle>
  
        </ion-card-header>
        <ion-card-content>
            <ion-list no-lines>
              
                <ion-item>
                    <ion-col>
                        <ion-label >Pr&eacute;nom(s)</ion-label>                        
                        <ion-input type="text" placeholder="Adama" [(ngModel)]="newuser.prenom"></ion-input>
                    </ion-col> 
                   
                  </ion-item>
                  <ion-item>
                    <ion-col>
                        <ion-label >Nom</ion-label>  
                    <ion-input type="text" placeholder="Nopale" [(ngModel)]="newuser.nom"></ion-input>
                  </ion-col> 
                </ion-item>
                <ion-item>
                    <ion-col>
                        <ion-label >Num&eacute;ro t&eacute;l&eacute;phone</ion-label>  
                    <ion-input type="number" placeholder="773731936" [(ngModel)]="newuser.numero"></ion-input>
                  </ion-col> 
                </ion-item>
                <ion-item>
                    <ion-col>
                        <ion-label >Num&eacute;ro carte &eacute;tudiant</ion-label>  
                 <ion-input type="text" placeholder="NO0000000000" [(ngModel)]="newuser.numCarteEtud"></ion-input>
                    </ion-col>
             </ion-item>
             <ion-item>
                <ion-col>
                    <ion-label >Numéro carte nopale </ion-label>  
             <ion-input type="number" placeholder="00000000" [(ngModel)]="newuser.numCarteNop"></ion-input>
             </ion-col>
         </ion-item>
         <ion-item>
            <ion-col>
                <ion-label >Mot de Passe</ion-label> 
            <ion-input type="password" placeholder="********" [(ngModel)]="newuser.password"></ion-input>
            </ion-col>
        </ion-item>
        <ion-item>
            <ion-col>
                <ion-label >Confimez mot de passe</ion-label> 
            <ion-input type="password" placeholder="********" [(ngModel)]="newuser.Cpassword"></ion-input>
            </ion-col>
        </ion-item>
        <div class="spacer" style="height: 10px;"></div>

        <div text-center>
        <ion-button color="dark">S'inscrire</ion-button>
       </div>
                  </ion-list>
             
               
             
        
        </ion-card-content>
      </ion-card>
     
       
  </ion-content>
  